.btn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: 100;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    font-family: var(--font-family-base);
    text-decoration: none;
    box-sizing: border-box;
}

/* PRIMARY */
.btn-primary {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

.btn-primary:hover {
    background: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
}

.btn-primary-outline {
    background: transparent;
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary-outline:hover {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
    border-color: var(--color-primary);
}

/* SUCCESS */
.btn-success {
    background: var(--color-success);
    color: white;
    border-color: var(--color-success);
}

.btn-success:hover {
    background: var(--color-success-dark);
    border-color: var(--color-success-dark);
}

.btn-success-outline {
    background: transparent;
    color: var(--color-success);
    border-color: var(--color-success);
}

.btn-success-outline:hover {
    color: var(--color-success);
    background-color: var(--color-success-light);
    border-color: var(--color-success);
}

/* DANGER */--color-danger
.btn-danger {
    background: var(--color-danger);
    color: white;
    border-color: var(--color-danger);
}

.btn-danger:hover {
    background: var(--color-danger-dark);
    border-color: var(--color-danger-dark);
}

.btn-danger-outline {
    background: transparent;
    color: var(--color-danger);
    border-color: var(--color-danger);
}

.btn-danger-outline:hover {
    color: var(--color-danger);
    background-color: var(--color-danger-light);
    border-color: var(--color-danger);
}

.btn-danger-outline.disabled {
    opacity: 0.4;
    background-color: transparent;
    border-color: var(--color-danger);
}

/* OUTLINE */
.btn-outline {
    background: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.btn-outline:hover {
    background: rgba(61, 61, 159, 0.1);
}

/* SIZE */
.btn-lg {
    font-size: 16px;
    height: 37px;
    padding: 6px;
    border-radius: 11px;
}

.btn-lg-with-label {
    font-size: 16px;
    height: 37px;
    padding: 6px 12px;
    border-radius: 11px;
}